<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <extensions>
    <add assembly="OpenSage.Core"/>
  </extensions>

  <targets>
    <target name="file" xsi:type="File" fileName="output.log" />
    <target name="console" xsi:type="ColoredConsole" layout="[${time}][${level}] ${message}"/>
    <target name="internal" xsi:type="OpenSage" layout="[${time}][${level}] ${message}"/>
  </targets>

  <rules>
    <logger name="OpenSage.Scripting.*" writeTo="" final="true"/>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="internal" />
  </rules>
</nlog>