<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="myget mellinoe" value="https://www.myget.org/F/mellinoe/api/v3/index.json" />
    <add key="CoreFX Lab" value="https://dotnet.myget.org/F/dotnet-corefxlab/" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="github-feliwir" value="https://nuget.pkg.github.com/feliwir/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-feliwir>
      <add key="Username" value="feliwir" />
      <add key="ClearTextPassword" value="395b499c3932eec2b72f5ae0e2f507fe84fc8772" />
    </github-feliwir>
  </packageSourceCredentials>
</configuration>