<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="myget mellinoe" value="https://www.myget.org/F/mellinoe/api/v3/index.json" />
    <add key="CoreFX Lab" value="https://dotnet.myget.org/F/dotnet-corefxlab/" />
    <add key="myget feliwir" value="https://www.myget.org/F/feliwir/api/v3/index.json" />
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
  </packageSources>
</configuration>